.image-large-right-left-img,
.image-large-right-right-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-large-right-left-img {
  aspect-ratio: 6 / 7;
}

.image-large-right-right-img {
  aspect-ratio: 5 / 7;
}

.image-large-right-left {
  grid-column: 2 / 6;
  grid-row: 2 / 3;
}

.image-large-right-right {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  padding-bottom: 64px;
}
