.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.booking-enquiries {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.booking-details {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
}

.booking-form {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.booking-form .input,
.booking-form select,
.booking-form {
  width: 100%;
  padding: 8px 0px;
  border: 0px;
  border-bottom: 1px solid #808285;
  background-color: #f9f9f9;
  color: #808285;
}

.text-area {
  width: 100%;
  padding: 8px 0px 8px 8px;
  border: 0px;
  border: 1px solid #808285;
  background-color: #f9f9f9;
}

.booking-form .input:focus,
.booking-form select:focus,
.booking-form textarea:focus {
  outline: 0px; /* Focus color */
  border-color: none;
}

.success-message,
.error-message {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  width: 100%;
  grid-column: 1 / 7;
  grid-row: 4 / 5;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.fieldset {
  margin-bottom: 64px;
}

@media screen and (min-width: 480px) {
  .booking-enquiries {
    grid-column: 9 / 25;
    grid-row: 1 / 2;
  }

  .booking-details {
    grid-column: 9 / 17;
    grid-row: 2 / 3;
  }

  .booking-form {
    grid-column: 17 / 25;
    grid-row: 2 / 3;
  }

  .success-message,
  .error-message {
    grid-column: 17 / 25;
    grid-row: 3 / 4;
  }

  .fieldset {
    margin-bottom: 80px;
  }
}
