.footer-container {
  padding: 240px 16px 16px;
}

.footer-contact-heading {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.footer-details {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

.footer-logo {
  display: none;
}

.footer-site-credits {
  position: relative;
  cursor: default;
}

/* Hide the site credits initially */
.site-credits {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

/* Reveal them on hover */
.site-credits-title:hover + .site-credits,
.site-credits-title:hover + .site-credits + .site-credits {
  opacity: 1;
  visibility: visible;
}

.footer-book-now {
  transition: 0.5s;
}

.footer-book-now:hover {
  color: #808285;
}

@media screen and (min-width: 480px) {
  .footer-contact-heading {
    grid-column: 15 / 17;
    grid-row: 1 / 2;
    text-align: right;
  }

  .footer-details {
    grid-column: 17 / 21;
    grid-row: 1 / 2;
  }

  .footer-logo {
    grid-column: 1 / 11;
    grid-row: 1 / 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .footer-logo-svg {
    width: 100%;
    height: auto;
    display: block;
  }
}
