.footer-container {
  padding: 240px 16px 16px;
}

.footer-contact-heading {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.footer-details {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

@media screen and (min-width: 480px) {
  .footer-contact-heading {
    grid-column: 15 / 17;
    grid-row: 1 / 2;
    text-align: right;
  }

  .footer-details {
    grid-column: 17 / 21;
    grid-row: 1 / 2;
  }
}
