.nav {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #f9f9f9e6;
  padding: 0 16px;
  height: 40px;
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 70px;
  height: auto;
  display: block;
}

.nav-links {
  display: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.menu-button {
  align-items: flex-end;
  transition: opacity 0.5s ease;
  display: flex;
}

.menu-button span {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.menu-button.fade {
  opacity: 0;
}

/* Overlay */
.menu-overlay {
  position: fixed;
  top: 0px;
  inset: 0;
  background: #f9f9f9e6;
  z-index: 40;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(6, 1fr);
  padding: 80px 16px 16px;
}

.overlay-links {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.overlay-time-zone {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 6px;
}

.overlay-contact {
  grid-column: 4 / 7;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 6px;
}

.overlay-links a {
  color: black;
}

/* Desktop view (from 480px up) */
@media screen and (min-width: 480px) {
  .nav-logo {
    width: 80px;
    height: auto;
    display: block;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    gap: 30px;
  }

  .menu-button {
    display: none;
  }

  .nav {
    border-bottom: 0.5px solid #d1d1d6;
  }
}
