.brand-selected-clients {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.brand-img {
  aspect-ratio: 6 / 7;
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.brand-description {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  min-height: 100px;
}

.brand-names {
  grid-column: 4 / 7;
  grid-row: 2 / 4;
}

.brand-name {
  display: flex;
  flex-direction: column;
  text-align: left;
}

@media screen and (min-width: 480px) {
  .brand-selected-clients {
    grid-column: 1 / 25;
    grid-row: 1 / 2;
  }

  .brand-img {
    grid-column: 1 / 11;
    grid-row: 2 / 3;
  }

  .brand-description {
    grid-column: 1 / 11;
    grid-row: 3 / 4;
  }

  .brand-names {
    grid-column: 11 / 25;
    grid-row: 2 / 4;
  }
}
