.brand-selected-clients {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.brand-img {
  aspect-ratio: 6 / 7;
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.brand-description {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  min-height: 100px;
  padding-top: 4px;
}

.brand-names {
  grid-column: 4 / 7;
  grid-row: 2 / 4;
}

.brand-name {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.brand-module-button {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  max-width: fit-content;
  align-self: end;
  justify-self: start;
  margin: 0 0 8px 8px;
  z-index: 10;
}

@media screen and (min-width: 480px) {
  .brand-selected-clients {
    grid-column: 1 / 25;
    grid-row: 1 / 2;
  }

  .brand-img {
    grid-column: 1 / 11;
    grid-row: 2 / 3;
  }

  .brand-description {
    grid-column: 1 / 11;
    grid-row: 3 / 4;
  }

  .brand-names {
    grid-column: 11 / 25;
    grid-row: 2 / 4;
  }

  .case-study-button {
    grid-column: 1 / 13;
    grid-row: 1 / 4;
    margin: 0 0 16px 16px;
  }
}
