.case-study-images {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: flex-start;
}

.case-study-img {
  width: 100px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.case-study-img-large {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  height: auto;
  grid-column: 1 / 7;
  grid-row: 2 / 3;
}

.case-study-description-container {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  row-gap: 8px;
  display: flex;
  flex-direction: column;
}

.img-transparent {
  opacity: 0.3;
}

.img-opaque {
  opacity: 1;
}

.flex-row {
  display: flex;
  align-items: baseline; /* aligns text based on baseline, good for mixed font sizes */
  gap: 1rem; /* spacing between h2 and p */
}

.flex-row h2 {
  width: 100px; /* or whatever width works best for your content */
  margin: 0;
  flex-shrink: 0; /* prevents shrinking if container gets tight */
}

.flex-row p {
  margin: 0; /* remove default spacing */
}

@media screen and (min-width: 480px) {
  .case-study-images {
    grid-column: 21 / 25;
    grid-row: 2 / 3;
    flex-direction: column;
    column-gap: 8px;
  }

  .case-study-img-large {
    grid-column: 1 / 13;
    grid-row: 1 / 4;
  }

  .case-study-description-container {
    grid-column: 13 / 25;
    grid-row: 1 / 2;
    row-gap: 8px;
    display: block;
    column-gap: 16px;
    grid-template-columns: repeat(6, 1fr);
  }
}
