.full-bleed-image {
  position: relative;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.full-bleed-image-img {
  aspect-ratio: 9 / 7;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.full-bleed-text {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
}

.sticky-button {
  position: sticky;
  bottom: 0;
  height: 0;
  pointer-events: none;
}

.full-bleed-book-button {
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: all;
  margin: 16px;
  z-index: 100;
}

@media screen and (min-width: 480px) {
  .full-bleed-image {
    grid-column: 1 / 25;
  }

  .full-bleed-text {
    grid-column: 1 / 25;
  }
}
