.landing-module-content {
  position: relative;
}

.landing-module-title {
  position: absolute;
  top: 50%;
  left: 16px;
  color: #ffffff;
}

.landing-module-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.landing-module-button {
  position: absolute;
  top: 70%;
  left: 16px;
}

@media screen and (min-width: 480px) {
}
