.large-image-container {
  padding: 0 16px;
}

.large-image {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.large-image-img {
  width: 100%;
  height: auto;
}

.large-image-text {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
}
